#principal{
  width: 70%;
  margin: 20px auto 100px auto;
  font-family: Courier;
}

h1{
	width: 100%;
  margin: 60px auto 60px auto;
}

h3{
	text-align: center;
	width: 100%;
	margin: auto;
	padding: 40px;
	box-sizing: border-box;
}

table{
	border: 2px solid gray;
	width: 100%;
	margin: auto;
	text-align: center;
}

th{
	padding: 20px;
	box-sizing: border-box;
	background-color: rgba(180,200,230,1);
}

td{
	padding: 6px;
	box-sizing: border-box;
}

#final{
	padding: 30px 30px 30px 30px;
	margin: 40px auto;
	width: 100%;
	font-size: 20px;
	text-align: center;
	box-sizing: border-box;
	background-color: rgba(160,220,200,1);
}

span{
	text-decoration: bold;
	color: (140,180,200,1);
}